.login{
    background-image: url("../../assets/vertical-green-forest-hills-kordun-croatia.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left{
    width: 20vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left img{
    width: 90%;
}

.box-right{
    width: 50vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Fundo*/
.bg-white {
    background-color: rgba(255, 255, 255, 0.75);
    /* Ajuste a cor de fundo e a opacidade desejada */
    backdrop-filter: blur(10px);
    /* Ajuste o valor de acordo com o desfoque desejado */
    border-radius: 10px 0px 0px 10px;
    background-image: url('../../assets/fosco.png');
}

.bg-gray {
    background-color: rgba(128, 128, 128, 0.1);
    /* Ajuste a cor de fundo e a opacidade desejada */
    backdrop-filter: blur(10px);
    /* Ajuste o valor de acordo com o desfoque desejado */
    border-radius: 0px 10px 10px 0px;
    background-image: url('../../assets/fosco.png');
}