.instituto-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instituto-card{
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    display: inline-block;
    width: 300px;
    text-align: center;
}

.instituto-container{
    text-align: start;
    margin: 50px 125px 0 125px;
}

.instituto-title{
    margin-bottom: 20px;
}

.instituto-title h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}

