.ranking-container{
    text-align: start;
    margin: 50px 125px 0 125px;
}

.ranking-title{
    margin-bottom: 20px;
}

.ranking-title h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}
.ranking-posicao{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    justify-content: center;
    gap: 10px;

}

.posicao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.posicao img{
    width: 50%;
}

.posicao h2{
    position: absolute;
}