@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

html,
body,
html:focus-within {
  scroll-behavior: smooth !important;
  font-family: 'Chivo', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
  border: 1px solid var(--bgheader);
  background-color: var(--bgheader);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--green), var(--dark));
  border-radius: 0px;
}

:root{
  --dark: #242526;
  --green: #3DCD58; 
  scroll-behavior: smooth !important;
  transition: 0.3s linear;
  --bodyfont: "Poppins"; 
  --bgheader: rgba(36, 37, 38, 1);
}

.white{
  color: #FFF;
}

.dark{
  color: var(--dark);
}

.green{
  color: var(--green);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

::selection {
  background-color: var(--green);
  color: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
    width: 170px;
    height: 40px;
    background-color: #3DCD58;  
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)
}
