@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

html,
body,
html:focus-within {
  scroll-behavior: smooth !important;
}

:root{
  --dark: #242526;
  --green: #3DCD58; 
  scroll-behavior: smooth !important;
  transition: 0.3s linear;
  --bodyfont: "Poppins"; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #fff;
  color: var(--blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
